[submodule "deps/djinni"]
	path = deps/djinni
	url = https://github.com/dropbox/djinni.git
[submodule "deps/flatbuffers"]
	path = deps/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "deps/grpc"]
	path = deps/grpc
	url = https://github.com/grpc/grpc.git
